.app {
  background: url("./assets/note.svg") space;
  background-size: 24px;
  color: var(--text-primary);
  min-height: 100%;
}

.container {
  padding: 24px 0;
  max-width: 60%;
  width: 100%;
  margin: 0 auto;
}
